.posts {
  margin-top: 24px;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      padding: 10px 0;
    }
    form {
      display: flex;
      align-items: center;
      gap: 16px;
      input {
        outline: 0;
        border: 0;
        padding: 12px 12px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 8px;
        width: 300px;
      }
      button {
        background-color: #9a9ab0;
        padding: 10px;
        border-radius: 50%;
        border: 0;
        &:hover {
          background-color: #109be9;
          transition: 0.3s;
        }
      }
    }
  }
  .cards {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card {
      margin-bottom: 24px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        box-shadow: none;
        transition: 0.4s;
      }
      .card-img {
        width: 296px;
        height: 312px;
        background-color: #909090;
        &:hover {
          background-color: #109be9;
          transition: 0.3s;
        }
      }
      .id {
        position: absolute;
        margin-top: -46px;
        padding: 14px 16px;
        color: #9a9ab0;
        background-color: #fff;
      }
      h5 {
        max-width: 250px;
        margin-left: 16px;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0.005em;
        padding: 12px 0;
      }
      .data {
        color: #9a9ab0;
        margin-top: 16px;
        margin-left: 16px;
        padding-bottom: 18px;
      }
    }
  }
}
